<div class="relative flex items-center justify-center object-cover object-center h-32 overflow-hidden mt-12">
  <%= image_tag stop.splash %>
  <div class="flex flex-col justify-center items-center absolute text-white inset-0 z-auto">
    <span class="text-4xl text-white">
      <%= stop.name %>
    </span>
    <span>
      <%= stop.from.strftime("%B %-d, %Y") %> - <%= stop.to.strftime("%B %-d, %Y") %>
    </span>
  </div>
</div>
