<div>
  <% @stops.each do |stop| %>
   <%= link_to url_for(stop) do %>
      <%= render 'stops/banner', stop: stop %>
    <% end %>

    <ul>
      <% stop.posts.each do |post| %>
        <li>
          <%= link_to post.title, url_for(post) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
