<section>
  <% @stops.each do |stop| %>
   <%= link_to url_for(stop) do %>
      <%= render 'stops/banner', stop: stop %>
    <% end %>

    <ul>
      <% stop.posts.in_order.each do |post| %>
        <li>
          <div class="text-2xl">
            <%= link_to post.title, url_for(post) %>
          </div>
          <div>
            <%= post.description %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
