// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.hero-lol {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), 
    image-url('yosemite.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
