<section>
  <h1
    class="text-6xl font-bold font-title py-40 text-center text-gray-200 bg-no-repeat bg-center bg-cover"
    style="background-image:
            linear-gradient(
              rgba(0, 0, 0, 0.45),
              rgba(0, 0, 0, 0.45)
            ),
            url(<%= image_url("cat.jpg") %>)
          "
  >
    <div>Hey, thanks for thinking of us!</div>
    <div>&nbsp;</div>
  </h1>

  <div class="max-w-4xl mx-auto prose py-12 px-4">
    <p class="text-2xl md:text-4xl text-center font-heading">
      Your love and support is more than enough.
    </p>

    <p class="text-xl">
      But if gift-giving is part of your love language, we've got some suggestions below. We would also love for you to <%= link_to("send us a note", thoughts_path, class: "underline text-teal-400") %> that we can read on our wedding day.
    </p>
  </div>

  <div class="max-w-4xl mx-auto mb-12 bg-white rounded border-gray-200 shadow">
    <a class="zola-registry-embed" href="www.zola.com/registry/carrie-truman" data-registry-key="carrie-truman">Our Zola Wedding Registry</a>

    <script>
      !function(e,t,n){
        var s,a=e.getElementsByTagName(t)[0];
        s=e.createElement(t);
        s.id=n;
        s.async=!0;
        s.src="https://widget.zola.com/js/widget.js";
        a.parentNode.insertBefore(s,a)
      }(document,"script","zola-wjs");
    </script>
  <div>
</section>
