<section>
  <h1 class="text-4xl font-semibold font-title">
    Hey, thanks for thinking of us!
  </h1>
  <h2 class="text-2xl font-semibold">
    Your love and support is more than enough, but if gift-giving is part of your love language, we've got some suggestions below.
  </h2>

  <div class="mt-16">
    <a class="zola-registry-embed" href="https://www.zola.com/registry/trumanandcarolyn" data-registry-key="trumanandcarolyn">Our Zola Wedding Registry</a>
    <script>
      !function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");
    </script>
  <div>
</section>
