<section  class="max-w-4xl mx-auto px-4">
  <h1 class="max-w-4xl mx-auto text-5xl md:text-6xl font-bold title font-title py-16 md:py-40 text-center text-gray-800">
    Hey, thanks for thinking of us!
  </h1>

  <div class="max-w-4xl mx-auto prose mb-8">
    <p class="text-lg md:text-2xl">
      Your love and support is more than enough, but if gift-giving is part of your love language, we've got some suggestions below.
    </p>
  </div>

  <div class="mt-16 bg-white rounded border-gray-200 shadow">
    <a class="zola-registry-embed" href="https://www.zola.com/registry/trumanandcarolyn" data-registry-key="trumanandcarolyn">Our Zola Wedding Registry</a>
    <script>
      !function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");
    </script>
  <div>
</section>
