<circle
  cx="<%= lngx(stop.lng) %>"
  cy="<%= laty(stop.lat) %>"
  r="0.5"
  stroke="black"
  stroke-width="0.2"
  class="text-accent stroke-current fill-current"
  fill="none"
>
  <title><%= stop.name %></title>
</circle>
