<section>
  <h1
    class="text-6xl font-bold font-title py-40 text-center text-gray-200 bg-no-repeat bg-center bg-cover"
    style="background-image:
            linear-gradient(
              rgba(0, 0, 0, 0.45),
              rgba(0, 0, 0, 0.45)
            ),
            url(<%= image_url("sequoia.jpg") %>)
          "
  >
    <div>Share your words of</div>
    <div>joy, counsel, or affront</div>
  </h1>


  <div class="max-w-4xl mx-auto py-12">
    <p id="other-thoughts" class="text-2xl md:text-4xl text-center font-heading mb-2">
      Kind words from wonderful folks
    </p>

    <p class="text-xl py-12">
      Thank you all for your kind, inspiring, joyful words. We loved reading each note and felt like we were able to carry everyone with us while we journeyed across the country. Your thoughts are archived here; we look back on them fondly.
    </p>

    <% @public_thoughts.each do |thought| %>
      <div class="bg-white px-4 py-12 mb-12">
        <p class="text-xl mb-2">
          From: <%= thought.name %>
        </p>
        <div>
          <%= thought.content %>
        </div>
      </div>
    <% end %>
  </div>
</section>
